<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>자유 게시판 - Find My Duo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.min.js"></script>
<script src="https://kit.fontawesome.com/3bfc1f9b60.js" crossorigin="anonymous"></script>
<!-- 헤더바, 사이드바 -->
<div id="menu-bar"></div>
<!-- 본문 -->
<div class="col-sm-9 table-page table-striped" id="board-list-app">
    <div class="col-sm-12 text-center">
        <br>
        <h1><strong>자유 게시판</strong></h1>
        <hr>
    </div>
    <!-- 검색 폼 추가 -->
    <div class="form-group col-sm-12" @submit.prevent="search">
        <div class="col-sm-2">
            <select class="form-control" v-model="searchBy">
                <option value="title">제목</option>
                <option value="user">작성자</option>
                <option value="content">내용</option>
            </select>
        </div>
        <div class="col-sm-9">
            <input class="form-control" type="text" v-model="searchQuery" placeholder="검색어를 입력하세요">
        </div>
        <button class="btn btn-default col-sm-1" type="button" @click="search">검색</button>
    </div>
    <div class="form-group col-sm-12">
        <div class="col-sm-10">
            <button class="btn btn-link" @click="sortByPopular">인기순으로 정렬</button>
            <button class="btn btn-link" @click="sortByLatest">최신순으로 정렬</button>
        </div>
        <button class="btn btn-default col-sm-2" @click="redirectToWritePage">게시물 작성</button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th style="width: 10%">번호</th>
            <th style="width: 40%">제목</th>
            <th style="width: 20%">작성자</th>
            <th style="width: 7%">좋아요</th>
            <th>수정시간</th>
        </tr>
        </thead>
        <tbody>
        <tr class="board-list-block" v-if="content.length === 0">
            <td colspan="5">No Board Here...</td>
        </tr>
        <tr class="board-list-block" v-else v-for="board in content" :key="board.id">
            <td>{{ board.id }}</td>
            <!-- 게시물 상세 페이지로 이동할 수 있는 링크 추가 -->
            <td><a :href="'/board/view/' + board.id">{{ board.title }}</a></td>
            <td>{{ board.nickName }}</td>
            <td>{{ board.liked }}</td>
            <td>{{ board.modifiedAt }}</td>
        </tr>
        </tbody>
    </table>
    <!-- 페이지 번호를 클릭할 수 있는 하이퍼링크를 추가합니다 -->
    <div class="pagination">
        <button class="btn btn-link" v-for="page in totalPages" :key="page" @click="goToPage(page)"
                :class="{ active: currentPage === page }">
            {{ page }}
        </button>
    </div>
</div>
<!-- 헤더, 사이드바에서 못닫은 div -->
</div>
</div>
<!-- Vue.js와 Axios 라이브러리를 로드합니다. -->
<script src="/webjars/axios/0.21.1/dist/axios.js"></script>
<script src="/webjars/vue/2.6.14/dist/vue.js"></script>
<script src="/webjars/jquery/3.6.4/jquery.js"></script>
<script>
    $.get('/static/html/navbar.html', function (data) {
        $('#menu-bar').html(data);
    })
</script>
<script src="/static/js/board-list.js"></script>
</body>
</html>