<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>
</head>
<body>
<div id="div-write-data" style="display: inline-block">
  <input v-model= board.title id="title" placeholder="제목">
  <textarea v-model= board.content id= "content" placeholder="내용"></textarea>
  파일: <input type="file" id = "input-images" @change= handleFileUpload multiple>
  <button @click= createBoard>저장</button>
</div>

<script src="/webjars/axios/0.21.1/dist/axios.js"></script>
<script src="/webjars/vue/2.6.14/dist/vue.js"></script>
<script src="/webjars/jquery/3.6.4/jquery.js"></script>
<script src="../../static/js/board-write-form.js"></script>
</body>
</html>