<!DOCTYPE html>
<html>
<head>
    <title>북마크 기능</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <h1>북마크 목록</h1>

    <div v-if="content && content.length === 0">
        <p>북마크 목록이 없습니다.</p>
    </div>

    <div v-else v-for="board in content" :key="board.id">
        <p>번호: {{ board.id }}</p>
        <!-- 게시물 상세 페이지로 이동할 수 있는 링크 추가 -->
        <p>제목: <a :href="'/board/view/' + board.id">{{ board.title }}</a></p>
        <p>작성자: {{ board.nickName }}</p>
        <p>좋아요: {{ board.liked }}</p>
        <p>수정시간: {{ board.modifiedAt }}</p>
        <hr>
    </div>
</div>
<script>
    const token = localStorage.getItem('token');
    new Vue({
        el: '#app',
        data: {
            content: []  // content 속성 초기화
        },
        methods: {
            fetchBoards() {
                axios.get('/users/bookmark', {
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                })
                    .then(response => {
                        this.content = response.data.content;
                    })
                    .catch(error => console.error(error));
            }
        },
        mounted() {
            this.fetchBoards();
        }
    });
</script>

</body>
</html>