<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 작성 - Find My Duo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
<script src="/webjars/axios/0.21.1/dist/axios.js"></script>
<script src="/webjars/vue/2.6.14/dist/vue.js"></script>
<script src="/webjars/jquery/3.6.4/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.min.js"></script>
<script src="https://kit.fontawesome.com/3bfc1f9b60.js" crossorigin="anonymous"></script>
<!-- 헤더바, 사이드바 -->
<div id="menu-bar"></div>
<!-- 본문 -->
<div class="col-sm-9 page" id="div-write-data">
    <div class="form-group form-group-lg col-sm-12">
        <label></label>
        <input class="form-control" type="text" v-model=board.title id="title" placeholder="제목">
    </div>
    <div class="form-group form-group-lg col-sm-12">
        <label></label>
        <textarea class="form-control" rows="20" v-model=board.content id="content" placeholder="내용"></textarea>
    </div>
    <div class="form-group col-sm-12">
        <label class="text-center">파일 업로드</label>
        <input type="file" id="input-images" @change=handleFileUpload multiple>
    </div>
    <div class="form-group">
        <button class="btn btn-default" @click=createBoard>저장</button>
    </div>
</div>
<!-- 헤더, 사이드바에서 못닫은 div -->
</div>
</div>
<script>
    $.get('/static/html/navbar.html', function (data) {
        $('#menu-bar').html(data);
    })
</script>
<script src="/static/js/board-write-form.js" type="module"></script>
</body>
</html>