.body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 최소 높이를 화면의 높이로 설정 */
}
.main-container {
    display: flex;
    justify-content: space-between; /* 요소들을 좌우로 분배 */
    align-items: center;
    padding: 10px;
    min-height: 100vh;
}
.manu-bar {
    background-color: black;
}
.navbar {
    flex: 1; /* 네비게이션 바가 남은 공간을 모두 차지하도록 설정 */
    min-height: 100vh;
    background-color: black;
    color: aliceblue;
    padding: 10px;
    font-size: 2rem; /* 글자 크기 키우기 */
    font-color: white;
}

.navbar ul {
    list-style: none; /* 리스트 스타일을 none으로 하여 앞에 . 을 없앤다. */
    padding: 0;
    text-align: center;
}

.navbar li {
    margin-bottom: 50px;
}

.navbar a {
    text-decoration: none; /* 밑줄 제거 */
    padding: 20px;
    color: white;
}


.content {
    flex: 2; /* 컨텐츠 영역이 네비게이션 바 영역의 2배 크기로 설정 */
    padding: 20px;
    flex-direction: column;
    align-items: center; /* 가운데 정렬 */
    justify-content: center; /* 가운데 정렬 */
}

img.profile-image {
    width: 30px;
    height: 30px;
}