/* 사이드바 */
.sidenav {
    background-color: #f1f1f1;
    position: fixed;
    width: 200px;
    height: 100%;
    margin-left: -20px;
    margin-top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 본문 */
.page {
    margin-top:50px;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
}

.btn {
    margin-bottom: 10px;
}

.sidebar-block {
    height: 20%;
}